@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 400; /* Define o peso da fonte como regular */
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(110deg, #9041c1, #6A1B9A);
  color: white;
  text-align: left;
  box-sizing: border-box;
}

.paragrapher {
  font-size: 130%;
  font-family: 'Poppins', sans-serif !important;
  font-weight:bold; /* Define o peso da fonte como regular */
  line-height: 1.2;
}

.complementar-text {
  font-size: 40%;
  margin-left: 3%;
  margin-top: -2%;
  text-emphasis: none;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 400; /* Define o peso da fonte como regular */
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.btn {
  border-radius: 10px !important;
  border: solid 1px white !important;
  background-color: #6A1B9A;
  color: white !important;
  width: 10%;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000 !important;
}

.header-background {
  background-color: rgba(122, 28, 180, 0.8);
  transition: background-color 0.3s ease;
}

.header-logo {
  width: 100px;
  height: 50px;
  margin-left: 3%;
  margin-top: 1%;
}

.header-logo:hover {
  cursor: pointer;
}

.header-links {
  display: flex;
  margin-left: auto;
  margin-right: 3%;
  margin-top: 1%;
}

.header-content {
  margin-left: 20px;
  font-size: 130%;
  font-family: 'Poppins', sans-serif !important;
  line-height: 1.2;
  cursor: pointer;
}

.header-content.active {
  color: black;
  text-decoration: underline;
}

.content-pages {
  width: 100%;
  font-size: 280% !important;
  display: flex;
  flex-direction: column;
  margin-top: 11%;
  padding-left: 5% !important;
  box-sizing: border-box;
}

#initial {  
  font-size: 300% !important;
  margin-bottom: -2.6%;
}

#iniciativas {
  background-color: #6A1B9A;
  color: white;
  font-size: 200% !important;
  padding: 1% 2%;
}

#card-iniciativas {
  margin-top: 3%;
  width: 100%;
  max-width: 1300px;
  font-family: 'Arial' sans-serif !important;
  font-size: 70%;
}

#card-iniciativas:hover {
  transform: none;

}

.section {
  min-height: 50vh;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-items: center;
  margin-top: -2%;
  margin-bottom: 5%;
  gap: 2%;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  color: #fff;
  width: 80%;
  max-width: 520px;
  padding: 20px;
  margin: 1% 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(82, 137, 255, 0.2);
}

h4 {
  margin: 0 0 10px;
  font-size: 40%;
}

.description {
  font-size: 40%;
  line-height: 1.5;
}

.author {
  font-size: 30%;
  margin-top: 5%;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .paragrapher {
    font-size: 1rem;
  }

  .complementar-text {
    font-size: 0.6rem;
  }

  .btn {
    width: 50%;
  }

  .header-content {
    font-size: 1rem;
  }

  .content-pages {
    font-size: 2rem;
  }

  #iniciativas {
    font-size: 1.5rem;
  }

  .card {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .paragrapher {
    font-size: 0.8rem;
  }

  .complementar-text {
    font-size: 0.5rem;
  }

  .btn {
    width: 70%;
  }

  .header-content {
    font-size: 0.8rem;
  }

  .content-pages {
    font-size: 1.5rem;
  }

  #iniciativas {
    font-size: 1.2rem;
  }

  .card {
    width: 100%;
  }
}