.section4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 20px;
  }
  
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1100px;
    gap: 20px;
  }
  
  .column {
    flex: 1;
    padding: 0 !important;
    max-width: 45%;
}
  
  .column img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-fit: contain;  
    vertical-align: middle;
    border-radius: 8px;
    object-fit: fill;
    margin: 0; 
    padding: 0; 
}

  .column p {
    text-align: justify;
    max-width: 500px;
    margin: 0;
    color: #6711a4;
  }
  

@media (max-width: 768px) {
    .row {
      flex-direction: column;
      align-items: center;
    }
  
    .column {
      max-width: 100%;
      margin-bottom: 20px; 
    }
  
    .column p {
      max-width: 90%;
    }
  
    .column img {
      width: 90%;
    }

    .row2 {
      flex-direction: column-reverse;
    }
  }

  @media (max-width: 480px) {
    .section4 {
      padding: 10px;
      gap: 20px;
    }
  
    .row {
      gap: 15px;
    }
  
    .column p {
      max-width: 100%;
      font-size: 14px;
    }
  
    .column img {
      width: 100%;
    }
  

    .row2 {
      flex-direction: column-reverse;
    }
  }
  

  /* se houver texto o suficiente, justificamos o text */
  /* .section4 .row {
    display: flex;
    align-items: flex-start; 
  }
  
  .section4 .column {
    flex: 1;
    padding: 10px;
  }
  
  .section4 img {
    max-width: 100%;
    height: auto;
  }
   */