.postTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postTopLeft {
  flex: 2;
  display: flex;
  gap: 10px;
  align-items: center;
}

.postTopRight {
  display: flex;
  justify-content: flex-end;
}

.postUsername {
  font-weight: 500;
}

.postDate {
  font-size: 14px;
  font-weight: 100;
}

.postText {
  font-size: 15px;
}

.postProfileImage {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.postBottom {
  display: flex;
  justify-content: space-between;
}

.postBottomLeft {
  display: flex;
  align-items: center;
  gap: 10px;
}

.likeIcon {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.likeIconCont {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.likeIconCont:hover {
  background-color: gainsboro;
}

.likeIconCont:active {
  background-color: rgb(212, 203, 203);
}

.postCenter {
  text-align: center;
  margin-top: 10px;
}

.postWrapper {
  background-color: white;
  width: 90%;
  box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.postImage {
  height: 400px;
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
}

.postLikeCounter {
  font-size: 15px;
}

.postCommentText {
  cursor: pointer;
}

.tags-container {
  display: inline-flex;
  justify-content: center; /* Centraliza as tags horizontalmente */
  flex-wrap: wrap; /* Permite que as tags "quebrem linha" se necessário */
  gap: 20px; /* Espaçamento entre as tags */
  padding: 20px;
}

.tag {
  display: flex;
  align-items: center;
  background-color: #e6f2ff; /* Cor de fundo suave */
  border-radius: 10px; /* Bordas arredondadas */
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
  transition: background-color 0.3s ease; /* Animação suave ao passar o mouse */
  width: fit-content; /* Garante que a tag se ajuste ao conteúdo */
}

.tag:hover {
  background-color: #d0e7ff; /* Cor ao passar o mouse */
}

.icon {
  width: 40px; /* Tamanho do ícone */
  height: 40px;
  margin-right: 10px; /* Espaçamento entre o ícone e o texto */
}

.texto {
  font-size: 16px;
  color: #007bff; /* Cor do texto */
  font-family: Arial, sans-serif;
  font-weight: bold;
}



/* Estilo do modal box */
.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  outline: none;
  border-radius: 8px;
}

/* Estilo para o cabeçalho do modal */
.modal-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Estilo para o formulário */
.modal-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Estilo para o campo do texto */
.text-field {
  width: 100%;
}

/* Estilo para a pré-visualização do link */
.preview-link {
  margin-top: 20px;
}

/* Estilo para os botões de opção */
.option-button {
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.option-button:hover {
  background-color: #e0e0e0;
}

/* Estilos para o componente Comentarios */
.comentarios-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza o conteúdo horizontalmente */
}

.comentarios-form {
  display: flex;
  flex-direction: row; /* Altera para deixar input e botão lado a lado */
  align-items: center;
  margin-bottom: 20px;
  width: 100%; /* Garante que o formulário ocupe toda a largura do contêiner */
}

.comentarios-input {
  flex: 1; /* O input ocupa o espaço restante */
  padding: 12px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.comentarios-button {
  background-color: #6A1B9A !important;
  color: #fff !important;
  margin-left: 10px !important; /* Espaçamento entre o input e o botão */
  border: none;
  cursor: pointer;
}

.comentarios-commentList {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%; /* Garante que a lista ocupe toda a largura do contêiner */
}

.comentarios-commentItem {
  padding: 10px;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
  display: flex;
  align-items: flex-start; /* Alinha os itens no início */
  gap: 10px; /* Espaçamento entre a foto e o conteúdo */
}

.comentarios-authorName {
  font-weight: bold;
  margin-bottom: 5px;
}

.comentarios-toggleButton {
  background-color: #6A1B9A;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; /* Espaçamento entre o texto e o ícone */
}

.comentarios-authorPhoto {
  width: 40px; /* Definir a largura da imagem */
  height: 40px; /* Definir a altura da imagem */
  border-radius: 50%; /* Tornar a imagem circular */
  object-fit: cover; /* Garantir que a imagem se ajuste corretamente */
}

.comentarios-contentContainer {
  display: flex;
  flex-direction: column; /* Coloca o nome e o comentário em coluna */
}

.comentarios-authorName {
  font-weight: bold;
  margin-bottom: 5px;
  display: flex;
  justify-content: left !important;
}

.comentarios-content {
  margin-top: 8px; /* Remove a margem superior */
  display: flex;
  justify-content: left !important;
  text-align: left;
}